repack_cmd: pg_repack
clusters:
- host: pg1.lab.com
  port: 5432
  db: ultradev
  tables:
     - image_record
     - bloated
  user: ultradev
  password: 2394i0923ir09j0sd9jfsd

- host: pg1.lab.com
  port: 5432
  db: grafana
  tables: &grafana-tables
    - alert
    - alert_rule
  user: grafana
  password: &grafana-password madasdas324932u4932u432

- host: pg1.lab.com
  port: 5432
  db: grafana
  tables: *grafana-tables
  user: grafana
  password: *grafana-password